/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-image: url('../background1.png'); /* Menambahkan background image ke seluruh halaman */
    background-size: cover;
    background-repeat: no-repeat;
}

hr {
    border: none;
    height: 2px; /* Tinggi garis */
    background-color: #0E2E69; /* Warna garis */
    margin: 10px 0; /* Margin atas dan bawah */
}

#chat {
    width: 700px;
    border: 2px solid #0E2E69;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

#logo {
    text-align: center; /* Pusatkan logo */
    margin-bottom: 10px; /* Jarak dari bagian atas pesan */
}

#logo img {
    height: 200px; /* Sesuaikan tinggi logo */
}

#messages {
    height: 300px;
    overflow-y: scroll;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

#message-form {
    display: flex;
    align-items: flex-end; /* Mengatur agar tombol kirim tetap di bawah input */
}

#message-form input[type="text"] {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #0E2E69; /* Warna border sesuai permintaan */
    border-radius: 20px; /* Melengkungkan tepi tombol */
}

#message-form button {
    padding: 8px 16px;
    background-color: #0E2E69;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px; /* Melengkungkan tepi tombol */
}

#message-form button:hover {
    background-color: #00457e; /* Warna background saat tombol dihover */
}
